@font-face {
  font-family: "iconfont"; /* Project id 3462814 */
  src: url('iconfont.woff2?t=1655710915947') format('woff2'),
       url('iconfont.woff?t=1655710915947') format('woff'),
       url('iconfont.ttf?t=1655710915947') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mima:before {
  content: "\e620";
}

.icon-fenxiang:before {
  content: "\e7c5";
}

.icon-weixingongzhonghaoguanli:before {
  content: "\e609";
}

.icon-wendangchaxun:before {
  content: "\e626";
}

.icon-bangding:before {
  content: "\e64e";
}

.icon-wode:before {
  content: "\e8bb";
}

.icon-ziyuan60:before {
  content: "\e77a";
}

.icon-xitongguanlihoutai:before {
  content: "\e65c";
}

.icon-qitashebei:before {
  content: "\e656";
}

.icon-user:before {
  content: "\e6b2";
}

.icon-user1:before {
  content: "\e622";
}

.icon-tuichu:before {
  content: "\e67b";
}

.icon-xiaoxi2:before {
  content: "\e60d";
}

.icon-tuichu1:before {
  content: "\e892";
}

.icon-xiaoxi3:before {
  content: "\e625";
}

.icon-xiaoxi5:before {
  content: "\e654";
}

.icon-lifangtilitiduomiantifangkuai:before {
  content: "\e7fa";
}

.icon-lifangtilitiduomiantifangkuai2:before {
  content: "\e7fb";
}

.icon-home:before {
  content: "\e68e";
}

.icon-xinxi:before {
  content: "\e64b";
}

.icon-xinxi1:before {
  content: "\e61c";
}

.icon-touxiang:before {
  content: "\e60f";
}

.icon-touxiang1:before {
  content: "\e603";
}

.icon-wendang:before {
  content: "\e604";
}

.icon-shezhi:before {
  content: "\e659";
}

.icon-042fangkuai:before {
  content: "\e7bc";
}

.icon-icon-test:before {
  content: "\e6e7";
}

.icon-morentouxiang:before {
  content: "\e62f";
}

.icon-QQ:before {
  content: "\e882";
}

.icon-Sign:before {
  content: "\e614";
}

.icon-weibo:before {
  content: "\e608";
}

.icon-naozhong:before {
  content: "\e66f";
}

.icon-yiqiandao:before {
  content: "\e601";
}

.icon-weiqiandao:before {
  content: "\e602";
}

.icon-shoucang1:before {
  content: "\e8b9";
}

.icon-shoucang2:before {
  content: "\e8c6";
}

.icon-bianji:before {
  content: "\e600";
}

.icon-top:before {
  content: "\e69e";
}

.icon-top1:before {
  content: "\e67a";
}

.icon-renzheng-:before {
  content: "\e623";
}

.icon-zizhirenzheng:before {
  content: "\e8bc";
}

.icon-vrenzhengguanli:before {
  content: "\e66a";
}

