@font-face {
  font-family: "iconfont"; /* Project id 3462814 */
  src: url('iconfont.woff2?t=1655124869653') format('woff2'),
       url('iconfont.woff?t=1655124869653') format('woff'),
       url('iconfont.ttf?t=1655124869653') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-test:before {
  content: "\e6e7";
}

.icon-morentouxiang:before {
  content: "\e62f";
}

.icon-QQ:before {
  content: "\e882";
}

.icon-Sign:before {
  content: "\e614";
}

.icon-weibo:before {
  content: "\e608";
}

.icon-naozhong:before {
  content: "\e66f";
}

.icon-yiqiandao:before {
  content: "\e601";
}

.icon-weiqiandao:before {
  content: "\e602";
}

.icon-shoucang1:before {
  content: "\e8b9";
}

.icon-shoucang2:before {
  content: "\e8c6";
}

.icon-bianji:before {
  content: "\e600";
}

.icon-top:before {
  content: "\e69e";
}

.icon-top1:before {
  content: "\e67a";
}

.icon-renzheng-:before {
  content: "\e623";
}

.icon-zizhirenzheng:before {
  content: "\e8bc";
}

.icon-vrenzhengguanli:before {
  content: "\e66a";
}

